<h1>New User</h1>

<%= form_with model: contract.model, url: users_path do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <% if contract.errors[:name].any? %>
      <span class="error"><%= contract.errors[:name].join(", ") %></span>
    <% end %>
  </div>

  <div>
    <%= f.label :email %>
    <%= f.email_field :email %>
    <% if contract.errors[:email].any? %>
      <span class="error"><%= contract.errors[:email].join(", ") %></span>
    <% end %>
  </div>

  <%= f.submit "Create User" %>
<% end %>