<h1>New User</h1>

<%= form_with model: contract.model, class: "max-w-md mx-auto p-6 bg-white shadow-md rounded-lg", url: users_path do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name, class: "border p-2 w-full" %>
    <% if contract.errors[:name].any? %>
      <span class="error"><%= contract.errors[:name].join(", ") %></span>
    <% end %>
  </div>

  <div>
    <%= f.label :email %>
    <%= f.email_field :email, class: "border p-2 w-full" %>
    <% if contract.errors[:email].any? %>
      <span class="error"><%= contract.errors[:email].join(", ") %></span>
    <% end %>
  </div>

  <%= f.submit "Create User", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
<% end %>