<h1>New User</h1>

<%= form_with model: @form.model, url: users_path do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= @form.errors[:name].join(", ") if @form.errors[:name].any? %>
  </div>

  <div>
    <%= f.label :email %>
    <%= f.email_field :email %>
    <%= @form.errors[:email].join(", ") if @form.errors[:email].any? %>
  </div>

  <%= f.submit "Create User" %>
<% end %>
