<h1>Players</h1>

<%= link_to "New Player", new_user_player_path(user_id), class: "btn" %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>User</th>
      <th>Location</th>
      <th>Credits</th>
      <th>Fuel</th>
      <th>Reputation</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% players.each do |player| %>
      <tr>
        <td><%= player.name %></td>
        <td><%= player.user.name %></td>
        <td><%= player.current_planet&.name || 'Unknown' %></td>
        <td><%= player.credit %></td>
        <td><%= player.fuel %></td>
        <td><%= player.reputation %></td>
        <td>
          <%= link_to "Play", player_path(player) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "Back to Users", users_path %>